*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* utilities */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-list{
    display: flex;
    align-items: center;

}

/* layout */
.wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black
}

.user-cont{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.row{
    width: calc(100% / 7);

}
.row img{
    width: 100%;;
    padding: 5px;
}
.user{
    position: relative;
}


/* footer layout */
footer{
    position: relative;
}




/* typography */
.user span{
    position: absolute;
    bottom: 9px;
    left: 5px;
    background-color: rgba(70, 69, 69, 0.4);
    color: white;
    padding: 2px;
    font-size: x-small;
}
.option-bar{
    width: 100%;
    height: 60px;
    background-color: rgb(45, 45, 45);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    
}
footer li{
    list-style: none;
    text-align: center;
    padding: 10px;
}
.right-option{
    background-color: gray;
    color: rgb(191, 36, 36);
    padding: 20px 10px;
    font-weight: 700;
}

